{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
<div class="title">
  <h1>Mon compte</h1>
</div>
  <div class="content-register">
    <div>
      <h2>Vous avez oublié votre mot-de-passe ?</h2> 
      <h3>Pas d'inquiétude, entrez votre e-mail et suivez les instructions !</h3><br>
      <form method="post">
        <label>E-mail</label>
        <input type="password" name="password" id="form" required><br>
        <input type="submit" value="Envoyer" id="button-login"> <br>
      </form>
      <a href="{{ url_for('auth.login') }}" id="mdp"> Retour à la connexion </a>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}