{% extends 'base.html' %}

{% block title %}
  Template de base
{% endblock %}

{% block content%}
        <div >
          <h1 class="title">Apéritifs</h1>
        </div>
        <div class="space">
          
          {% for recette in recettes %}
          <a href="{{ url_for('recette.detail_recette', titres=recette.titres) }}">
            <div class="photo">
              <img src="{{ url_for('static', filename='imgs/photo_recette/' ~ recette.chemin_vers_le_fichier | safe) }}" id="photo-style">
              <div id="titre_coeur">
                <p>{{recette.titres}} </p>
                <img src="{{url_for('static', filename='imgs/logo-favoris.png')}}" alt="logo-favoris" id="like">
              </div>
            </div>
          </a>
          {% else %}
            <p>Aucune recette disponible.</p>
          {% endfor %}
          
          
             

{% endblock %}