{% extends 'base.html' %}

{% block title %}
  Template de base
{% endblock %}

{% block content%}
        <div>
          <h1  class="title">Boissons</h1>
        </div>
       
        <div class="space">
          {% for recette in recettes %}
          <a href="{{ url_for('recette.detail_recette', titres=recette.titres) }}">
            <div class="photo">
              <img src="{{ url_for('static', filename=recette.chemin_vers_le_fichier) }}" id="photo-style" alt="{{ recette.titres }}">
              <div id="titre_coeur">
                <p>{{recette.titres}} </p>
          </a>

          <button id="{{ recette.id_recette }}" 
              {% if recette.id_utilisateur %}
              onclick="toggleColor('{{ recette.id_recette }}', '{{ recette.id_utilisateur }}', '{{ recette.id_recette }}')"
              {% else %}
              onclick="togglePopup()"
              {% endif %}
              class="btn"
              {% if recette.is_liked %}
              style="color:  #bb5202 ;"
              {% endif %}>
              <i class="fa-regular fa-heart"></i>
              </button>

                    
          </div>
            </div>
          {% else %}
            <p>Aucune recette disponible.</p>
          {% endfor %}
          
          
             

{% endblock %}