{% extends 'base.html' %}

{% block title %}
  Template de base
{% endblock %}

{% block content%}
<div>
  <div class="title">
    <h1>Créations</h1>
  </div>
  <div id="create">
    <div id="container-create">
      <div>
        <form method="post" enctype="multipart/form-data" id="dynamicForm">
          <label for="titres">Nom de la recette</label>
          <input name="titres" required id="form"><br>
          <label for="id_categorie">Types de recettes</label>
          <select id="form" name="id_categorie">
            <option value="aperitif">Apéritif</option>
            <option value="entree">Entrée</option>
            <option value="plat">Plat</option>
            <option value="dessert">Dessert</option>
            <option value="smoothie">Smoothie</option>
            <option value="boisson">Boisson</option>
          </select><br>


          <label for="description">Description</label>
          <textarea id="form" name="description" rows="3" cols="10" required></textarea><br>

          <label for="nombre_personne">Nombre de personnes pour cette recette</label>
          <div class="button-group"> 
            <button type="button" onclick="decrease_nbr_personne()">-</button> 
            <input type="number" id="nombre_personne" name="nombre_personne" value="1" min="1" readonly> 
            <button type="button" onclick="increase_nbr_personne()">+</button> 
          </div> <br>


          <div class="form-group">
            <label for="nom">Ingrédients :</label>
            <input type="text" id="nomInput" placeholder="exemple : Tomate, pressez le bouton 'Ajouter'" autocomplete="off">
            <div id="suggestionsList" class="suggestions"></div> <!-- Liste pour afficher les suggestions -->
          </div>
        <button class="add-button" type="button" onclick="addNomQuantite()">Ajouter</button><br>



          <label for="temps_preparation">Temps de préparation</label>
          <div class="button-group"> 
            <button type="button" onclick="decrease_temps_preparation()">-</button> 
            <input type="text" id="temps_preparation" name="temps_preparation" value="15 minutes" readonly> 
            <button type="button" onclick="increase_temps_preparation()">+</button> 
          </div><br>
          <label for="temps_cuisson">Temps de cuisson/repos</label>
          <div class="button-group"> 
            <button type="button" onclick="decrease_temps_cuisson()">-</button> 
            <input type="text" id="temps_cuisson" name="temps_cuisson" value="15 minutes" readonly> 
            <button type="button" onclick="increase_temps_cuisson()">+</button> 
          </div><br>
          <label for="etapes">Etapes pour réaliser la recette</label>
          <textarea id="form" placeholder="exemple : 1. 2. 3. etc" name="etapes" rows="3" cols="10" required></textarea><br>
          <label for="difficulte">Difficulté de la recette</label>
          <select id="form" name="difficulte">
            <option value="facile">Facile</option>
            <option value="intermediaire">Intermédiaire</option>
            <option value="difficile">Difficile</option>
          </select><br>
          <label for="file" class="custom-file-upload">
            Ajouter une photo
          </label>
          <input type="file" id="file" name="file" accept="image/*" style="display: none;" onchange="previewImage(event)" required><br>
          <p id="fileName"></p>

          <input type="submit" value="Valider et Créer" id="button-login"> <br>
        </form>

      </div>
    </div>
  </div>
</div>
{%endblock%}