{% extends 'base.html' %}

{% block title %}
  Template de base
{% endblock %}

{% block content%}
        <div>
          <h1 class="title">Mes créations</h1>
        </div>
        <div id="bouton_ajouter">
          <div id="bouton_gris">
            <a href="{{ url_for('recette.creation') }}">Ajouter</a>
            <img id="img_plus" src="{{url_for('static', filename='imgs/plus_button.png')}}" alt="logo"/>
          </div>
        </div>
        <div class="space">
          {% for recette in recettes %}
          <a href="{{ url_for('recette.detail_recette', titres=recette.titres) }}">
            <div class="photo">
              <img src="{{ url_for('static', filename=recette.chemin_vers_le_fichier) }}" id="photo-style" alt="{{ recette.titres }}">
              <div id="titre_coeur">
                <p>{{recette.titres}} </p>
                
              </a>
            
              
              <button id="{{ recette.id_recette }}" onclick="toggleDeleted()" class="btn-deleted">

              <i class="fa-solid fa-circle-minus"></i>
              </button>
</div>
          </div>
          {% else %}
            <p>Aucune recette disponible.</p>
          {% endfor %}
          
          
             

{% endblock %}