{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div id="container">
    <h1 class="title"> Mon compte</h1>
  </div>
  <div id="block-content">
    <div id="infos-perso">
      <h1>Profil utilisateur</h1>
      <p>Nom</p>
      {% if g.user %}
        <span id="infos">{{ g.user['nom'] }}</span>
      <p>Prénom</p>
        <span id="infos">{{ g.user['prenom'] }}</span>
      <p>Nom d'utilisateur</p>
        <span id="infos">{{ g.user['username'] }}</span>
      <p>E-mail</p>
        <span id="infos">{{ g.user['email'] }}</span>
      {% endif %}

      <h1>Mes recettes</h1>
        
      {% for recette in recettes %}

        <span id="infos">{{recette.titres}}</span>
      {%else%}
        <span id="infos">Pas encore de recette</span>
      {% endfor %}


      <h1>Mes favoris</h1>

      
    </div>
  </div> 
  <div id="bouton_gris">
    <a href="{{ url_for('auth.logout') }}" style="color:#262626">Déconnexion</a>
  </div>
{% endblock %}