/*
-----------------   DEFAULT CSS RULES NOT TO REMOVE ------------------
*/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 8. Remove bullet point from list  */
  ul{
    list-style-type: none;
  }

  /*
-----------------   ADD YOUR CSS RULES BELOW ------------------
*/
body{
  font-family: "Inter Tight";
  font-style: normal;
}

/*HEADERS*/
header{
  border-bottom: 3px solid #acacac; 
  height: 25vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  background-color: white;
  
}

#header-nav{
width: 100%;
height: 100%;
display: flex;
align-items: center;
padding-left: 40px;
padding-right: 40px;

}

/*header middle*/

#header-nav-middle{
display: flex;  
width: 33%;
height: 100%;
justify-content: end;
align-items: center;
flex-direction: column-reverse;
}

#barre{
display: flex;
flex-direction: row;
align-items: end;
margin-top: 5vh;
}
#barre div{
margin-left: 11px;
margin-right: 11px;
font-size: 18px;
color: #767676;
display: flex;
justify-content: end;
align-items: center;
}

#search{
display: flex;
justify-content: center;
align-items: center;
}

.search-box{
position: relative;
width: 300px;

}
.search-box input[type="text"] {
padding: 12px;
padding-right: 70px;
border: 1px solid #000000;
border-radius: 8px;
box-sizing: border-box;
background-color: #EDEDED;
}
.search-box input::placeholder {
color: black;
}
.search-box .fa {
position: absolute;
right: 35px;
top: 50%;
transform: translateY(-50%);
z-index: 1;
}

#barre a{
  text-decoration: none;
  color: #767676;
  
}
  #barre a:hover{
  text-decoration: underline;
  color: #bb5202;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  }

/*header right*/

.right-acceuil, .right-favoris, .right-creer, .right-compte{
width: 8.25%;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: column-reverse;
font-size: 20px;
}
.right-acceuil a, .right-favoris a, .right-creer a, .right-compte a{
color: #000000;
text-decoration: none;
}

.right-acceuil a:hover, .right-favoris a:hover, .right-creer a:hover, .right-compte a:hover{
color: #bb5202;
text-decoration: solid;
font-weight: 500;
}


#logo-right{
width: 27px;
height: 27px;
display: flex;
justify-content: center;

}

/*header left*/
#header-nav-left{
width: 33%;
display: flex;
align-items: center;
flex-direction: row;
}
#titre{
display: flex;
font-size: 30px;
width: auto;
font-weight: normal;
}

#header-nav-logo{
display: flex;
justify-content: center;
align-items: center;
}

#header-nav-logo>a{
  height: 65px;
  width:65px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-nav-logo img{
  width: 100%;
}

#header-nav>ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}

/*BUTTONS*/
.btn{
  background: transparent;
  border: none;
  display: flex;
  margin-top: 5px;  
  height: 25px;
  width: auto;
}

.btn i:hover{
  cursor: pointer;
}

.fa-heart{
  transform: scale(1.2);
}

#button-login{
  width: 175px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  background-color: #bb5202;
  color: white;
}
#bouton_ajouter{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bouton_gris a{
  text-decoration: none;
  color: white;
}
#bouton_logout a{
  text-decoration: none;
  color: white;
}
.bouton{
  height: 30ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bouton button{
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  font-weight: normal;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bouton_logout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 7vh;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  background-color: #bb5202;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

#bouton_gris{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  background-color: #bb5202;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

/*main container*/


#main-content{
  min-height: 600px;
  height: auto;
  display: flex;
  background-color: #EDEDED;
}

.container-rectangle{
  width: 100%;
  min-height: 700px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
.container-menu{
  margin-top: 37vh;
  background-color: white;
  border-radius: 20px;
  width: 700px;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*creation recette*/
#create{
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-create form{
  margin-top: 15px;
}

#suggestionsList {
  
  max-height: 100px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  width: 500px;
  z-index: 10;
}
#container-create{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #D9D9D9;
  min-height: 600px;
  height: auto;
  width: 550px;
}

#img_plus{
  height: 16px;
  margin-left: 5px;
  width: auto;
  
}

/*utilisateur*/
#block-content{
  font-size: 14px;
  margin-top: 7vh;
  margin-left: 7vh;
  display: flex;
}
#infos{
  color: rgb(50, 50, 50);
  border: 2px solid black;
  border-color: #d9d9d9;
  border-radius: 5px;
  height: 35px;
  width: 250px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-left: 5vh;
  margin-bottom: 2vh;
}
#infos-perso p{
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
}

/*afficher recette*/
.title{
  
  left: 50%; 
  transform: translateX(25); 
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items:center ;
  font-weight: normal;
}
.space{
  margin-top: 40px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
  height: auto;

}
.space p{
  width: 250px;
  white-space: nowrap;     /* Empêche le texte de se casser en plusieurs lignes */
  overflow: hidden;        /* Cache le texte qui dépasse du conteneur */
  text-overflow: ellipsis; 
}
.photo{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
}
.photo p{
  margin-top: 5px;
  font-size: 20px;
}


#titre_coeur{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#photo-style{
  border: solid 1px;
  border-color: #767676;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/*footers*/

#footer-nav {
    height: 100%;
    background-color: white;
    padding-top: 40px;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    

    
}
#footer-nav a:hover{
  text-decoration: underline;
}
.footer-nav-info{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
#nav-infos{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#nav-infos p{
  font-size: 20px;  
  width: 150px;
}

.footer-credit{
  display: flex;
  justify-content: center;
}
.footer-credit p{
  color: #767676;
  font-size: 15px;
}
#footer-nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  width: 150px;
}


.footer-logo p{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px ;
}
.footer-logo-main{
  display: flex;
  align-items: center;
}
.footer-logo{
  margin-top: 10px;

  border-bottom: solid 1px;
}
#footer-logo{
  width: 65px;
  margin-right: 10px;
}


/*content*/
.content-index, .content-404, .content-profile{
    min-height: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-index h1{
    text-align: center;
}

.content-profile-title{
    display: block; 
    text-align:center;
}

.content-register{
  height: auto;
  min-height: 200px;
  margin-bottom: 80px;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
#mdp{
  color: #000000;
  font-weight:400;
}

.content-register h2{
  font-size: 25px;
  font-weight: normal;
}
.content-register h3{
  font-weight: normal;
  font-size: 17px;
}



/* creation recette */
.add-button { 
  margin-top: 10px; 
  padding: 5px 10px; 
  background-color: #bb5202; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}
#nomInput{
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-width: 1px;
  min-height: 35px;
  height: auto;
}
.quantity-input{
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  border-top-color: #D9D9D9;
  border-width: 1px;
  min-height: 35px;
  height: auto;
}
#form{
  display: flex;
  justify-content: center;
  width: 500px;
  border-radius: 5px;
  border-top-color: #D9D9D9;
  border-width: 1px;
  min-height: 35px;
  height: auto;
}
#nombre_personne{
  border-radius: 5px;
  height: 35px
}
#temps_preparation{
  border-radius: 5px;
  height: 35px
}
#temps_cuisson{
  border-radius: 5px;
  height: 35px;
}
.button-group { 
  display: flex; 
  align-items: center;
}
input[type="number"] { 
  width: 60px; 
  text-align: center;
}
input[type="text"] { 
  padding-left: 5px;
}
.button-group button { 
  padding: 5px 10px;
  margin: 5px; 
  background-color: #bb5202; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; }

#validation{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;

}
#validation img{
  display: flex;
  height: 100px;
  width: auto;
}
.space a{
  text-decoration: none;
  color: #000000;
}

.space a:hover {
  text-decoration: solid;
  color: #bb5202;
  font-weight: 500;
}
.custom-file-upload {
  background-color: #bb5202;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}
#fileName{
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
}


#titre-register{
  display: flex;
  justify-content: center;
}

.content-register form {
  display: flex;
  flex-direction: column;
}


/* voir la recette */
#top {
  display: flex;
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center;  /* Alignement vertical centré */
  position: relative;  /* Nécessaire pour utiliser position: absolute sur le titre */
  width: 100%; /* Assurer que le div prend toute la largeur disponible */
  padding-left: 30px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#photo-big{
  border: solid 1px;
  border-color: #767676;
  height: 350px;
  width: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.photo-big{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos-recette{
  font-weight: normal;
  margin-left: 30px;
  font-size: 24px;
}
#infos-recette p{
  margin-left: 60px;
  margin-right: 60px;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

#difficulte{
  width: 90px;
  height: auto;
}


.favoris {
  width: 35px; 
  height: auto;
}

#top h1{
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  margin: 0;
 
}



#createur{
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content{
  max-width: 500px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ededed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px;
  border-radius: 10px;

}
.popup-link{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px; 
  background-color: #bb5202;
  border-color: #767676;
  position: absolute;
  bottom: 0;
  left: 50%;

  margin-bottom: 10px;
  transform: translate(-50%);

}
#popup-overlay h2{
  margin-bottom: 20px;
  margin-top: 20px;
}
#popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  display: none;
}
#popup-overlay.open{
  display: block !important;

  background: rgba(110, 110, 110, 0.5);
}
.popup-exit{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  
  
}

