<!doctype html>
<head>
    <title id="titre-page">{% block title %}Cook & Smile{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/719da9c918.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

</head>

<body>
    

    <header id="header">
        <nav id="header-nav">
            <div id ="header-nav-left">
                <div id="header-nav-logo">
                    <a href="{{url_for('home.landing_page')}}">
                        <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="logo"/>
                    </a>  
                </div>
            
                <div>
                    <h1 id="titre">Cook & Smile</h1>
                </div>
            </div>
            <div id ="header-nav-middle">
                <div id="barre">
                    <div>
                        <a href="{{ url_for('recette.show_aperitifs') }}">Apéritifs</a>
                    </div>
                    <div>
                        <a href="{{ url_for('recette.show_entrees') }}">Entrées</a>
                    </div>
                    <div>
                        <a href="{{ url_for('recette.show_plats') }}">Plats</a>
                    </div>
                    <div>
                        <a href="{{ url_for('recette.show_desserts') }}">Desserts</a>
                    </div>
                    <div>
                        <a href="{{ url_for('recette.show_smoothies') }}">Smoothies</a>
                    </div>
                    <div>
                        <a href="{{ url_for('recette.show_boissons') }}">Boissons</a>
                    </div>
                </div>
                <div id="search">
                    <div class="search-container">
                        <div class="search-box">
                            <form action="/" method="post">
                            <input type="text" placeholder=" Rechercher..." name="search">
                            <i class="fa fa-search"></i>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="header-nav-right">
                <div class ="right-acceuil">
                    <a href="{{ url_for('home.landing_page') }}">Accueil</a>
                    <img src="{{url_for('static', filename='imgs/logo-acceuil.png')}}" alt="logo-acceuil" id="logo-right"/>
                </div>
                
                <div class ="right-favoris">
                    <a href="{{ url_for('recette.show_favoris') }}" >Favoris</a>
                    <img src="{{url_for('static', filename='imgs/logo-favoris.png')}}" alt="logo-favoris" id="logo-right"/>
                </div>
                <div class ="right-creer">
                    <a href="{{ url_for('recette.show_recettes') }}">Créer</a>
                    <img src="{{url_for('static', filename='imgs/logo-creer.png')}}" alt="logo-creer" id="logo-right"/>
                </div>
                <div class="right-compte">
                    <a href="{{ url_for('user.show_profile') }}">Compte</a>
                    <img src="{{ url_for('static', filename='imgs/logo-compte.png') }}" alt="logo-compte" id="logo-right" />
                </div>
            </div>
        </div>
    </nav>
        
    </header>
    <main id="main-content">
        <div id="popup-overlay">
            <div class="popup-content">
              <h2>Connection requise pour liker</h2>
              <a href="{{ url_for('auth.login') }}" class="popup-link">Se connecter</a>
              <a href="javascript:void(0)" class="popup-exit" onclick="togglePopup()"> Fermer</a>
            </div>
          </div>  
        <div class="container-rectangle">
            <div class="container-menu"> 
                {% block content %}   
                {% endblock %}
                
            </div>
        </div>
    </main>

    <footer id="footer">
        <div id="footer-nav">
            <div class="footer-logo">
                <div class="footer-logo-main">
                    <img id="footer-logo" src="{{url_for('static', filename='imgs/logo.png')}}" alt="logo"/>

                    <h1 id="titre">Cook & Smile</h1>
                </div>
                <p>La cuisine avec le sourire</p>
            </div>
            <div class="footer-nav-info">
                <div id="nav-infos">
                    <div>
                        <a href="{{ url_for('home.apropos') }}"> A propos de nous </a>
                    </div>
                    <div>
                        <p>FAQ</p>
                    </div>
                </div>
            
                <div class="footer-credit">
                    <p>Réalisé par Jérémy Lozano</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</body>